	<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Industrious</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="elements">Elements</a></li>
					<li><a href="generic">Generic</a></li>
					<li><a href="list">List</a></li>
					<li><a href="register">Register</a></li>
					<li><a href="userlogin">Login</a></li>
				</ul>
			</nav>